@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    font: var(--fontprimary);
}

:root{
    --colorprimary: rgb(11, 9, 58);
    --colorsecundary: rgb(12, 80, 136);
    --fontprimary: 'Roboto', sans-serif;
}

body{
    background-color: var(--colorprimary);
    font-family: var(--fontprimary);
    margin: 0px;
  
}



.box{
    width: 340px;
    height: 380px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px 40px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.box h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    color: var(--colorprimary);
    font-weight: bold;
    font-family: var(--fontprimary);
}

.box input[type='number']{
    width: 100%;
    padding: 12px;
    border-radius: 3px;
    background-color: #ccc;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 0.9em;
    color: rgb(35, 31, 31);
}

.box label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: var(--colorprimary);
    font-weight: normal;
    
}

#buttonp{
    width: 100%;
    padding: 12px;
    border: none;
    background-color: var(--colorsecundary);
    border-radius: 3px;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.7s;
    font-size: 0.8em;
}

#buttonp:hover{
    background-color: rgb(9, 52, 87);
}


.popup_erro{
    width: 100%;
    background-color: rgb(255, 60, 0);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
    font-family: var(--fontprimary);
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    transform: translateY(-55px);
}

.pop_active{
    transform: translate(0px);
    
}
.popup_erro #button_modal{
    position: absolute;
    right: 10px;
    padding: 10px;
    border-radius: 7px;
    background-color: rgb(255, 60, 0);
    border: none;
    color: white;
    cursor: pointer;
    
}
.fa-xmark{
    font-size: 1.2em;
}
.fa-arrow-right{
    margin: 0px 5px;
}


.modal{
    width: 400px;
    height: 200px;
    background-color: rgb(236, 236, 236);
    position: absolute;
    left: -400px;
    top: 65%;           
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0s;
    display: block;
    transition: 0.7s;
}

.modal_center{
    left: 50%;
    transform: translateX(-50%);
    transition: 0.7s;
}

.modal p{
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    text-align: center ;
    line-height: 1.5em;
    
}
.modal button{
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 15px;
    border: none;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    cursor: pointer;
    
}

.modal_negative{
    background-color: rgb(255, 60, 0);
    color: white;

}

.modal_positive{
    background-color: rgb(0, 180, 0);
    color: white;
}

h2{
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;

}
.fa-heart{
    margin: 0px 10px;
    color: rgb(255, 60, 0);
}

.fa-triangle-exclamation{
    font-size: 2.2em;
    color: white;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.fa-circle-check{
    font-size: 2.2em;
    color: white;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

@media (max-width: 700px){
    
    .box{
        top: 36%;
        position: absolute;
        height: 360px;
    }
    .modal{
        top: 65%;
    }

    .modal{
        width: 350px;
        height: 170px;
    }
}